.companyDetails{
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .details{
    display: grid;
    row-gap: 1em;
    column-gap: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .report{
    font-weight: bold;
  }
}