.dts-companyDetails{
  padding: 1.3em;
  display: grid;
  row-gap: 2em;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 0.5em;
}

@media screen and (max-width: 800px) {
  .dts-companyDetails{
    grid-template-columns: 1fr;
  }
}