.h1bSummary {
  background-color: white;
  border: 2px solid #EBEBEB;
  padding: 1.5em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  box-shadow: 0px 4px 20px rgba(167, 167, 167, 0.35);
  font-family: "Helvetica";
  font-size: 12px;

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .title{
      font-size: 1.6em;
      font-weight: 700;
    }

    .report {
      font-family: "Tahoma";
      font-weight: 700;
      font-size: 1.1em;
      color: #FF5C00;
    }
  }

  .details, .records{
    max-width: 480px;
  }

  .details{
    margin-top: 1.2em;
    background-color: #F9f9f9;
    border-radius: 6px;
  }

  .records{
    margin-top: 2em;
  }

  .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
    width: 100%;

    .action{
      font-size: 1.1em;
      background: white;
      border: 2px solid #00D287;
      border-radius: 6px;
      color: #00D287;
      text-decoration: none;
      padding: 0.52em 2.1em 0.4em;
    }
  }
}