.h1bSummary {
  background-color: #F0F1F5;
  padding: 1.5em;
  border-radius: 0.5em;

  .header{
    font-size: 1.5em;
  }

  .details{
    margin-top: 1.2em;
  }

  .records{
    margin-top: 2em;
  }
}